.edit-medication-form-container {
  text-align: center;
  margin-top: 2rem;
}

.edit-medication-form-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #336e70;
}

.edit-medication-form-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #336e70;
}

.edit-medication-form-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #336e70;
  margin-bottom: 1rem;
}

.edit-medication-form-textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #336e70;
  margin-bottom: 1rem;
  resize: vertical;
  min-height: 100px;
}

.edit-medication-form-button {
  background-color: #336e70;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.edit-medication-form-button:hover {
  background-color: #2a5f61;
}

@media screen and (max-width: 480px) {
  .add-medication-form-container
  .edit-medication-form-container {
    height: 100vh;
    margin-top: 0;
  }
}

