.profile-container {
  text-align: center;
  padding: 5rem;
  background-color: #80abe4;
  color: #fff;
  min-height: 100vh;
}

.profile-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #336e70;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  font-family: "Inter", sans-serif;
  padding: 0.5rem;
  border-radius: 5px;
  border: #336e70 solid 2px;
}

.profile-data {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-data pre {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  overflow-x: auto;
  white-space: pre-wrap; /* Added to preserve line breaks */
  max-height: 300px; /* Added to limit the height and enable scrolling if needed */
  overflow-y: auto; /* Added to enable vertical scrolling if needed */
}

.profile-table {
  width: 100%;
  border-collapse: collapse;
}

.addMedication.largeButton {
  font-size: 1.2rem;
  padding: 1rem 2rem;
}


.profile-table th,
.profile-table td {
  padding: 1rem;
  border: 1px solid #336e70;
}

.profile-table th {
  background-color: #336e70;
  color: #fff;
  font-weight: bold;
}

.profile-table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.8);
}

.profile-table tr:nth-child(odd) {
  background-color: #fff;
}

.profile-table td {
  text-align: center;
  color: #336e70;
}

.add-medication-form-container {
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 5px;
  width: 400px;
  margin: 2rem auto;
}

.edit-medication-form-container {
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 5px;
  width: 400px;
  margin: 2rem auto;
}

.update-success-message {
  color: #336e70;
  font-weight: bold;
  margin-top: 1rem;
}

.delete-medication-button {
  background-color: #e04e4e;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-medication-button:hover {
  background-color: #d43f3f;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  min-width: 160px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.addMedication {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .profile-table-container {
    overflow-x: auto;
    margin-top: 2rem;
  }

  .profile-table {
    display: block;
    width: auto;
  }

  .profile-table th,
  .profile-table td {
    display: block;
    padding: 0.5rem;
    text-align: left;
    white-space: normal;
  }

  .profile-table th {
    background-color: #51989b;
    color: #fff;
  }

  .profile-table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }

  .profile-table .medication-taken {
    background-color: #c5f5c0;
  }
}

/* Media Query for Mobile Devices */

@media screen and (max-width: 480px) {
  .add-medication-form-container,
  .edit-medication-form-container {
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
    box-sizing: border-box;
    padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .add-medication-form-input,
  .add-medication-form-textarea {
    font-size: 0.9rem;
    padding: 0.3rem;
  }
}

@media screen and (max-width: 767px) {
  .profile-table-container {
    overflow-x: auto;
    margin-top: 2rem;
  }

  .profile-table {
    display: block;
    width: auto;
  }

  .profile-table th,
  .profile-table td {
    display: block;
    padding: 0.5rem;
    text-align: left;
    white-space: normal;
  }

  .profile-table th {
    background-color: #51989b;
    color: #fff;
  }

  .profile-table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }

  .profile-table .medication-taken {
    background-color: #c5f5c0;
  }

  .profile-table td {
    border-top: 1px solid #336e70;
  }

  .profile-table td:last-child {
    border-bottom: 1px solid #336e70;
  }

  .profile-table tbody tr:nth-child(odd) {
    background-color: #eaf1f1;
  }
  
}
